* {
  margin: 0;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  'Aktiv Grotesk Regular',-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
