* {
  margin: 0;
}
body {
  margin: 0;
  font-family:  'Aktiv Grotesk Regular',-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Aktiv Grotesk Medium';
  src: local('Aktiv Grotesk Medium'), url(./assets/fonts/Aktiv-Grotesk-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Aktiv Grotesk Regular';
  src: local('Aktiv Grotesk Regular'), url(./assets/fonts/Aktiv-Grotesk-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Swiss 721';
  src: local('Swiss 721'), url(./assets/fonts/Swiss-721-Medium.otf) format('opentype');
}
